<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410577203001-peceubg85rus3g3sdrq3vflvft3dtg6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410577203001-peceubg85rus3g3sdrq3vflvft3dtg6b</string>
	<key>API_KEY</key>
	<string>AIzaSyDJJoX87Px0ELo-tZLoGCmBfnm6Q2NIemI</string>
	<key>GCM_SENDER_ID</key>
	<string>410577203001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vithushanlogan.ToDoList-App</string>
	<key>PROJECT_ID</key>
	<string>todolist-app-6586c</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-app-6586c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410577203001:ios:29a62dab0886c26480c2e8</string>
</dict>
</plist>